<p class="action">
  Copied
  <a href="#" cardId="{{card_1.id}}" class="show_card action">{{card_1.name}} </a> 
  from {{card_2.name}} to {{list.name}}
</p>
<span class="action">{{time_since}}</span>